<div class="container-fluid padding-right-45">
  <div class="row">
    <div class="col-md-7 col-md-offset-2" ng-controller="newCarCtrl">
    <h2 class="page-header new-client-header"><i class="fa fa-car"></i>  Nuevo Auto</h2>
		<form name="newVehicleForm" role="form" novalidate>
			<div class="panel panel-info panel-default-shadow">
				<div class="panel-heading">Tipo de Veh&iacute;culo</div>
				<div class="panel-body">
					<div class="form-group">
						<select class="form-control" ng-model="newCar.vehicleType" 
							ng-options="vehicleType.name for vehicleType in availableVehicles">
						  <option value="">Tipo</option>
						</select>
					</div>
					<div class="form-group">
						<select class="form-control" ng-model="newCar.make" 
							ng-options="make.name for make in newCar.vehicleType.makes">
						  <option value="">Marca</option>
						</select>
					</div>
					<div class="form-group">
						<select class="form-control" ng-model="newCar.model" 
							ng-options="model.name for model in newCar.make.models">
						  <option value="">Modelo</option>
						</select>
					</div>
					<!--<div flow-init
					     flow-files-submitted="$flow.upload()"
					     flow-file-success="$file.msg = $message" class="ng-scope">


					  <span class="btn btn-default" flow-btn>
					  	Upload File
					  	<input type="file" multiple="multiple" style="visibility:hidden; position:absolute;"/>
					  </span>

					  <table>
					    <tr ng-repeat="file in $flow.files">
					        <td>{{$index+1}}</td>
					        <td>{{file.name}}</td>
					        <td>{{file.msg}}</td>
					    </tr>
					  </table>
					  <img flow-img="$flow.files[0]" />
					</div> -->
					<div class="form-group">
						<select class="form-control" ng-model="newCar.vehicleCondition" 
							ng-options="condition for condition in vehicleConditions">
						  <option value="">Condicion</option>
						</select>
					</div>
				  	<div class="form-group">
						<select class="form-control" ng-model="newCar.fuelType" 
							ng-options="fuel for fuel in fuelTypes">
						  <option value="">Combustible</option>
						</select>
					</div>
					<div class="form-group">
						<select class="form-control" ng-model="newCar.doors" 
							ng-options="door for door in doors">
						  <option value="">Cantidad de Puertas</option>
						</select>
					</div>
					<div class="form-group">
						<select class="form-control" ng-model="newCar.color" 
							ng-options="color for color in colors">
						  <option value="">Color</option>
						</select>
					</div>
					<div class="form-group">
						<select class="form-control" ng-model="newCar.transmissionType" 
							ng-options="transmission for transmission in transmissionTypes">
						  <option value="">Transmisi&oacute;n</option>
						</select>
					</div>
				</div>
			</div>



			<div class="panel panel-info panel-default-shadow">
				<div class="panel-heading">Detalles del Veh&iacute;culo</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="exampleInputEmail1">A&ntilde;o</label>
						<select class="form-control" ng-model="newCar.year" 
							ng-options="year for year in years">
						  <option value="">A&ntilde;o</option>
						</select>
					</div>
					<div class="form-group" ng-class="{'has-error': newVehicleForm.kilometers.$invalid}">
					  <label for="exampleInputEmail1">Kil&oacute;metros</label>
					  <input type="text" name="kilometers" class="form-control" id="exampleInputEmail1" placeholder="Cantidad de kilometros del vehiculo" ng-model="newCar.kilometers" required ui-number-mask="0">
					  <span class="help-block" 
         					ng-show="newVehicleForm.kilometers.$error.required">El campo es requerido</span>
					</div>
					<div class="form-group" ng-class="{'has-error': newVehicleForm.plate.$invalid}">
					  <label for="exampleInputEmail1">Nro. de patente</label>
					  <input type="text" name="plate" class="form-control" id="exampleInputEmail1" placeholder="N&uacute;mero de patente" ng-model="newCar.plate" required>
					  <span class="help-block" 
         					ng-show="newVehicleForm.plate.$error.required">El campo es requerido</span>
					</div>
					<div class="form-group">
					  <label for="exampleInputEmail1">Nro. de motor</label>
					  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="N&uacute;mero de motor del vehiculo" ng-model="newCar.engineNumber">
					</div>
					<div class="form-group">
					  <label for="exampleInputEmail1">Nro. de chassis</label>
					  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="N&uacute;mero de chassis del vehiculo" ng-model="newCar.chassisNumber">
					</div>
					<fieldset class="form-group">
				    	<label for="exampleTextarea">Descripci&oacute;n</label>
				    	<textarea class="form-control" id="exampleTextarea" rows="3" ng-model="newCar.description" maxlength="350"></textarea>
				    	<span class="help-block" 
         					ng-show="newVehicleForm.exampleTextarea.$error.maxlength">El texto debe ser de 250 car&aacute;cteres de longitud como m&aacute;ximo</span>
		  			</fieldset>
				</div>
			</div>



			<!--
			<div class="panel panel-info">
				<div class="panel-heading">Caracter&iacute;sticas</div>
				<div class="panel-body">

					    <label class="checkbox-inline">
					      <input type="checkbox"> Aire acondicionado
					    </label>
					    <label class="checkbox-inline">
					      <input type="checkbox"> Frenos ABS
					    </label>
					    <label class="checkbox-inline">
					      <input type="checkbox"> Airbag
					    </label>
					    <label class="checkbox-inline">
					      <input type="checkbox"> Alarma
					    </label>
					    <label class="checkbox-inline">
					      <input type="checkbox"> Otra cosa
					    </label>
					    <label class="checkbox-inline">
					      <input type="checkbox"> Otra cosa mas
					    </label>
					    <label class="checkbox-inline">
					      <input type="checkbox"> Y otra mas
					    </label>

				</div>
			</div> -->



			<form name="myForm">
				
					<div class="row">
						<div class="col-md-12">
				        	<h4>Elija una imagen del veh&iacute;culo</h4>
				        </div>
				    </div>
				    <div class="row">
				    	<div class="col-md-12">
				    		<button class="btn btn-default btn-select-pic" ngf-select ng-model="picFile" accept="image/*">Seleccionar</button>
				    	</div>
				    </div>
			        
			        <div class="row well well-shadow upload-vehicle-image-container">
				    	<div class="col-md-12">
					        <div ngf-drop ng-model="picFile" ngf-pattern="image/*"
					             class="cropArea">
					            <img-crop image="picFile  | ngfDataUrl" 
					             area-type="rectangle" aspect-ratio="1.7" result-image-size='{w: 340,h: 200}' result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
					            </img-crop>
					        </div>
					        <div class="row cropped-image-container">
								<div class="col-md-4 col-md-offset-4 padding:0px">
					            	<img ng-src="{{croppedDataUrl}}" />
					            </div>
					       	</div>
					         <button class="btn btn-default pull-right btn-save-pic" ng-click="upload(croppedDataUrl, picFile.name)">Subir</button> 
					     </div>
					 </div>
			       
			            
			        <span class="progress upload-progress" ng-show="progress >= 0">
			          <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
			        </span>
			        <span ng-show="result">La imagen se ha subido exitosamente.</span>
			        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
		    </form>


		    <div class="panel panel-info panel-default-shadow">
				<div class="panel-heading">Tipo de Operaci&oacute;n</div>
					<div class="panel-body operation-type-choose-body">
						
						<div class="radio">
		  					<label><input type="radio" name="optradio" value="BUY" ng-model="opType" /><div class="buy-operation-type">Compra</div><p class="help-block operation-type-help-block">El veh&iacute;culo es comprado por esta agencia.</p></label>
						</div>


						<div class="radio">
		  					<label><input type="radio" name="optradio" value="CONSIGNMENT" ng-model="opType" />Consignaci&oacute;n   <span class="help-block operation-type-help-block">El veh&iacute;culo se toma en consignaci&oacute;n.</span></label>
						</div>
					
					</div>
			</div>

			<div class="panel panel-info panel-default-shadow"> 
				<div class="panel-heading">Vendedor</div>
				<div class="panel-body">
					<select name="repeatSelect" id="clientSelect" ng-model="selectedClientId">
	      				<option ng-repeat="client in clientList" value="{{client.id}}">{{client.firstName}}&nbsp;{{client.lastName}}</option>
	    			</select>
				</div>
			</div>




			<div class="panel panel-info panel-default-shadow">
				<div class="panel-heading">Documentaci&oacute;n</div>
				<div class="panel-body">
					<div class="checkbox">
					    <label>
					      <input type="checkbox"> Posee deuda de patentes
					    </label>
					 </div>		
					 <div class="form-group">			    		
					      <div class="input-group">
					      	<div class="input-group-addon">$</div>
					      	<input type="text" class="form-control" id="exampleInputAmount" placeholder="Monto adeudado en concepto de patentes" ng-model="taxDebt" ui-number-mask="0">
					    	<div class="input-group-addon">.00</div>
					      </div>
					 </div>
					 <div class="checkbox">
					    <label>
					      <input type="checkbox"> Tiene multas impagas
					    </label>
					 </div>
					 <div class="form-group">
					      <div class="input-group">
					      	<div class="input-group-addon">$</div>
					      	<input type="text" class="form-control" id="exampleInputAmount" placeholder="Monto adeudado en concepto de multas impagas" ng-model="trafficTicketsDebt" ui-number-mask="0">
					    	<div class="input-group-addon">.00</div>
					      </div>
					 </div>	
					 <div class="checkbox">
					    <label>
					      <input type="checkbox" ng-model="hasRegistration"> Posee T&iacute;tulo
					    </label>
					 </div>	
					 <div class="checkbox">
					    <label>
					      <input type="checkbox" ng-model="hasDomainCertificate"> Posee Certificado de Dominio
					    </label>
					 </div>	
				</div>
			</div>


		<div class="panel panel-info panel-default-shadow">
			<div ng-show="opType == 'buy'" class="panel-heading">Valor de compra del Veh&iacute;culo</div>
			<div ng-show="opType == 'consignment'" class="panel-heading">Monto acordado que recibe el vendedor</div>
				<div class="panel-body">
				  <div class="form-group" ng-class="{'has-error': newVehicleForm.buyingPrice.$invalid}">
				      <div class="input-group">
				      	<div class="input-group-addon">$</div>
				      	<input type="text" name="dealPrice" class="form-control" id="exampleInputAmount" ng-model="dealPrice" required ui-number-mask="0">
				    	<div class="input-group-addon">.00</div>
				      </div>
				      <span class="help-block" 
	     			ng-show="newVehicleForm.buyingPrice.$error.required">El campo es requerido</span>
				  </div>
				</div>
		 </div>

		 <div class="panel panel-info panel-default-shadow">
			<div class="panel-heading">Valor de venta del Veh&iacute;culo</div>
				<div class="panel-body">
				  <div class="form-group" ng-class="{'has-error': newVehicleForm.sellingPrice.$invalid}">
				      <div class="input-group">
				      	<div class="input-group-addon">$</div>
				      	<input type="text" name="sellingPrice" class="form-control" id="exampleInputAmount" placeholder="Precio al que se pone a la venta a este ve&iacute;culo" ng-model="sellingPrice" required ui-number-mask="0">
				    	<div class="input-group-addon">.00</div>
				      </div>
				      <span class="help-block" 
	     			ng-show="newVehicleForm.sellingPrice.$error.required">El campo es requerido</span>
				  </div>
				</div>
		 </div>

		 <div class="well well-shadow">
		 	Margen de ganancia: $ {{ sellingPrice - dealPrice | number }}
		 </div>




		
							<div class="row">
			                  <div class="col-md-12">
			                    <div class="form-group">
			                      <div class="new-car-buttons">
			                        <div class="pull-right">
			                          <button type="submit" class="btn btn-default">Cancelar</button>
			                          <button type="submit" class="btn btn-primary" ng-click="saveNewCar()">Guardar </button>
			                        </div>
			                      </div>
			                    </div>
			                  </div>
			                </div>



		</form>

	</div>
	<div class="col-md-3"></div>
</div>
</div>