
.new-vehicle-fields {
	padding: 20px 80px;
}

.new-vehicle-legend {
	padding-top: 50px;
	padding-bottom: 8px;
	margin-left: 70px;
	width: 78%;
	border-bottom: 1px solid red;
}

.car-thumbs {
	margin-top: 55px;
	margin-bottom: 50px;
}

.car-thumbs-container {
	width: 80%;
	margin-left: 68px;
	margin-top: 18px;
}

.uploaded-images-legend {
	border-bottom: 0px;
	margin-left: 82px;
}

.new-vehicle-input-amount {
	width: 415px;
}

.btn-select-pic {
	margin: 38px 99px;
}


.cropArea {
	margin-left: 98px;
	width: 70%;
	//border: 1px solid #667;
	border-radius: 2px;
}

.cropped-image-container {
	margin-top: 30px;
	margin-left: 85px;
	width: 70%;
	//border: 1px solid #667;
}

.cropped-image-container img {
	border: 1px solid #667;
	width: 100%;
	height: 100%;
	border-radius: 2px;
}

.btn-save-pic {
	margin-top: 3px;
	margin-bottom: 20px;
}

.new-car-buttons {
	margin: 134px 42px 35px 112px;
}

.upload-vehicle-image-container {
	margin-top: 10px;
	margin-bottom: 72px;
}

.operation-type-choose-body {
	padding: 30px 15px 40px 15px;
	margin-left:40px;
}

.buy-operation-type {
	display: inline;
	margin-right: 36px;
}

.operation-type-help-block {
	display: inline;
	margin-left: 30px;
	margin-bottom: 30px;
	font-weight: 200;
	font-size: 15px;
}

.upload-progress {
	margin-top: 20px;
	margin-left: 211px;
}

.success-upload-legend {
	margin-left: 145px;
}

.success-modal-title {
	margin-left: 2px;
	font-size: 20px;
}

.success-modal-message {
	margin-left: 40px;
	font-size: 16px;
	font-weight: 300;
}

.green-check {
	color: green;
}

.revenue {
    font-size: 27px;
    line-height: 47px;
    font-weight: 600;
    text-align: center;
}

.revenue-title {
	margin-top: 31px;
}

.revenue-container {
	margin-left: -107px;
	margin-bottom: 100px;
}

.color-negative-revenue {
	color: #d9534f;
}

.color-positive-revenue {
	color: #5cb85c;
}

.color-zero-revenue {
	color: #999999;
}

.hidden-no-revenue {
	visibility: hidden;
}

.revenue-area-first {
	margin-left: 89px;
}

.revenue-area-last {
	margin-right: 89px;
}

