
.btn-select-pic {
	margin: 20px 0px;
}

.cropArea {
	//margin-left: 30px;
	width: 100%;
	border: 1px solid #667;
	border-radius: 2px;
}

.cropped-image-container {
	margin-top: 30px;
}

.cropped-image-container img {
	border: 1px solid #667;
	border-radius: 2px;
}

.btn-save-pic {
	margin-top: 40px;
	margin-bottom: 20px;
}

.new-car-buttons {
	margin: 88px 42px 35px 30px;
}
