
.black-well {
    background: #242424;
    border: 0px;
    border-radius: 10px 10px 0px 0px;
}

.black-well h2, h3 {
    margin-top: 0px;
    color: #ffffff;
}

.black-well h2 .title-make {
    color: #ed382b;
}

.side-well {
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    background: #f3f3f3;
    margin-top: -20px;
}

.price-well {
    border-radius: 0px;
}

.price-label-details {
    font-size: 20px;
    font-weight: bold;
    color: #667;
    margin-top: 13px;
    margin-left: 35px;
}

.carousel {
    margin-top: -21px !important;
}


.carousel-container	{
	height:400px;
}

.car-details-panel {
	margin-bottom: 240px;
}


.carousel {
  margin-top: 40px;
}

.panel-details-right {
  margin:40px;
  margin-top:159px;
}


.btn-sell-car-panel {
	font-size: 16px;
    color: #f1f1f1!important;
    background-color: #ed382b;
    border-color: #ed382b;
    -webkit-box-shadow: 0 4px 4px -3px rgba(0,0,0,0.6);
    box-shadow: 0 4px 4px -3px rgba(0,0,0,0.6);
}

.btn-book-car-panel {
	font-size: 16px;
    color: #f1f1f1!important;
    background-color: #335397;
    border-color: #335397;
    -webkit-box-shadow: 0 4px 4px -3px rgba(0,0,0,0.6);
    box-shadow: 0 4px 4px -3px rgba(0,0,0,0.6);
}

.car-thumbs-container {
  padding:0px;
  background-color: black;
}

.car-thumbs {
  margin-bottom: 0px;
}

ul.car-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 0.5em;
  background-color: white;
}

ul.car-thumbs img {
  height: 135px;
  width: 170px;
  padding: 0.2em;
}

ul.car-thumbs img:hover {
  cursor: pointer;
}

