<div class="container-fluid padding-right-45" ng-controller="carDetailsCtrl">

	<div>
		<div class="row">
			<div class="col-sm-12">
				<div class="well well-sm black-well">
					<div class="container">
						<div class="col-sm-8">
							<h2>
								<span class="title-make">{{carDetailsDto.vehicleDto.makeString}}</span>&nbsp;
								<div class="title-model">{{carDetailsDto.vehicleDto.modelString | capitalize}}</div>
							</h2>
						</div>
						<div class="col-sm-4">
							<!--<h3><span class="label label-danger">2012</span></h3> -->
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-8">
				<carousel interval="setInterval"> <slide
					ng-repeat="slide in slides">
				<div class="carousel-container img-polaroid">
					<img class="carousel-image img-polaroid" ng-src="{{slide.image}}" />
					<div class="carousel-caption"></div>
				</div>
				</slide> </carousel>
				</br>
				<div class="well car-thumbs-container">
					<ul class="car-thumbs">
						<li ng-repeat="slide in slides"><img ng-src="{{slide.image}}"
							ng-click="setImage(slide.image)"></li>
					</ul>
				</div>
				&nbsp;

				<!-- Panel de detalles del auto -->
				<div
					class="panel panel-default panel-default-shadow car-details-panel car-details-panel-first">

					<div class="panel-heading">
						<h4 class="car-details-panel-title">Datos del Veh&iacute;culo</h4>
					</div>

					<div class="panel-body">
						<div class="tab-content">
							<div class="tab-pane fade in active" id="tab1default">
								<div class="col-md-12 no-padding features">
									<div class="col-md-4 no-padding m-b-md">
										<div class="col-md-10 no-padding">
											<small class="text-muted">Marca</small>
											<div class="h4 no-margin-top fw-400">
												{{carDetailsDto.vehicleDto.makeString | capitalize}}</div>
										</div>
									</div>
									<div class="col-md-4 no-padding m-b-md">
										<div class="col-md-10 no-padding">
											<small class="text-muted">Modelo</small>
											<div class="h4 no-margin-top fw-400">
												{{carDetailsDto.vehicleDto.modelString | capitalize}}</div>
										</div>
									</div>
									<div class="col-md-4 no-padding m-b-md">
										<div class="col-md-10 no-padding">
											<small class="text-muted">A&ntilde;o</small>
											<div class="h4 no-margin-top fw-400">
												{{carDetailsDto.vehicleDto.year}}</div>
										</div>
									</div>

								   	 <div class="col-md-4 no-padding m-b-md">

										<div class="col-md-10 no-padding">
											<small class="text-muted">Kilometraje</small>
											<div class="h4 no-margin-top fw-400">{{
												carDetailsDto.vehicleDto.kilometers | number }} Km.</div>
										</div>
									</div>
									<div class="col-md-4 no-padding m-b-md">

										<div class="col-md-10 no-padding">
											<small class="text-muted">Color</small>

											<div class="h4 no-margin-top fw-400">
												{{carDetailsDto.vehicleDto.color}}
											</div>
										</div>
									</div>
									<div class="col-md-4 no-padding m-b-md">

										<div class="col-md-10 no-padding">
											<small class="text-muted">Código de Info Auto</small>
											<div class="h4 no-margin-top fw-400">
												{{carDetailsDto.vehicleDto.codInfoauto}}
											</div>

										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="tab2default">
								<div class="col-md-12 no-padding features">
									<hr class="m-t-xs">
								</div>
							</div>
							<div class="tab-pane fade" id="tab3default">Default 3</div>
							<div class="tab-pane fade" id="tab4default">Default 4</div>
							<div class="tab-pane fade" id="tab5default">Default 5</div>
						</div>
					</div>
				</div>



				<div class="panel panel-default panel-default-shadow car-details-panel">

					<div class="panel-heading">
						<h4 class="car-details-panel-title">Datos del Vendedor</h4>
					</div>

					<div class="panel-body">
						<div class="tab-content">
							<div class="tab-pane fade in active" id="tab1default">
								<div class="col-md-12 no-padding features">
									<div class="col-md-4 col-sm-6 col-xs-12 no-padding m-b-md">
										<div class="col-md-10 no-padding">
											<small class="text-muted">Nombre</small>
											<div class="h4 no-margin-top fw-400">
												{{carDetailsDto.seller.firstName}}&nbsp;
												{{carDetailsDto.seller.lastName}}</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-xs-12 no-padding m-b-md">
										<div class="col-md-10 no-padding">
											<small class="text-muted">Direcci&oacute;n</small>
											<div class="h4 no-margin-top fw-400">
												{{carDetailsDto.seller.address}}</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-xs-12 no-padding m-b-md">
										<div class="col-md-10 no-padding">
											<small class="text-muted">Localidad</small>
											<div class="h4 no-margin-top fw-400">
												{{carDetailsDto.seller.city}}</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-xs-12 no-padding m-b-md">
										<div class="col-md-10 no-padding">
											<small class="text-info">Provincia</small>
											<div class="h4 no-margin-top fw-400">
												{{carDetailsDto.seller.province}}</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-xs-12 no-padding m-b-md">
										<div class="col-md-10 no-padding">
											<small class="text-muted">Tel&eacute;fono fijo</small>
											<div class="h4 no-margin-top fw-400">
												{{carDetailsDto.seller.phone | tel }}</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-xs-12 no-padding m-b-md">
										<div class="col-md-10 no-padding">
											<small class="text-muted">Tel&eacute;fono
												m&oacute;vil</small>
											<div class="h4 no-margin-top fw-400">
												{{carDetailsDto.seller.mobile | tel }}</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="tab2default">
								<div class="col-md-12 no-padding features">
									<hr class="m-t-xs">
								</div>
							</div>
							<div class="tab-pane fade" id="tab3default">Default 3</div>
							<div class="tab-pane fade" id="tab4default">Default 4</div>
							<div class="tab-pane fade" id="tab5default">Default 5</div>
						</div>
					</div>
				</div>
					
				
			</div>

			<div class="col-sm-4">
				<div class="well side-well">
					<div class="well price-well price-area">
						<h1 class="text-center">
							<div class="price-label-details">Precio</div>
							<div class="price-details">$ {{carDetailsDto.sellingPrice |
								number }}</div>
						</h1>
					</div>
					<div class="panel panel-default panel-details-right">
						<div class="panel-body">
							<a ui-sref="sellCar({carId:carDetailsDto.vehicleDto.id})"
								ng-hide="carDetailsDto.sold"
								class="btn btn-danger btn-lg btn-block" role="button">
								<div class="car-details-buttons">
									<i class="fa fa-usd"></i> Vender
								</div>
							</a> <a ui-sref="reserveCar({carId:carDetailsDto.vehicleDto.id})"
								ng-hide="carDetailsDto.booked || carDetailsDto.sold"
								class="btn btn-primary btn-lg btn-block" role="button">
								<div class="car-details-buttons">
									<i class="fa fa-lock"></i> Reservar
								</div>
							        <a ui-sref="insuranceQuote({carId:carDetailsDto.vehicleDto.id})"  class="btn btn-primary btn-lg btn-block" role="button">
							        	<div class="car-details-buttons">
							        		<i class="fa fa-globe"></i> Calcular Seguro
							        	</div>
							        </a> 
							        <a ui-sref="insuranceQuote" class="btn btn-primary btn-lg btn-block" role="button" target="_blank">
							        	<div class="car-details-buttons">
							        		<i class="fa fa-bar-chart"></i> Calcular Prenda
							        	</div>
							        </a>
							<div ng-click="open()" ng-controller="shareModalCtrl"
								ng-hide="carDetailsDto.booked || carDetailsDto.sold" 
								class="car-details-buttons btn btn-primary btn-lg btn-block"
								id="shareDiv"> 
								<i class="fa fa-bar-chart"></i> Publicar
								<script type="text/ng-template" id="shareModal.html">
									  <div class="modal-header">
            							<h4 style="color: black">Seleccione</h4>
       								 </div>
                                      <div class="modal-body modal-options">
										<a id="facebookBtn" role="button" ng-click="loginFacebook()"
											class="btn btn-block btn-social btn-facebook"> 
											<span class="fa fa-facebook"></span> Facebook
										</a>
                                        <a id="mercadolibreBtn" ng-click="loginMercadoLibre()" style="background-color: yellow; color: black; font-weight:600" 
											class="btn btn-block btn-social" > 
											<span style=""></span> Mercadolibre
										</a>
										<a id="olxBtn" style="background-color: grey; color: black; font-weight:600" ng-click="postOLX()"
											class="btn btn-block btn-social "> 
											<span class=""></span> OLX
										</a>
										<a id="autocosmosBtn" style="display:none;background-color: rgba(100,100,100,.6); color: black; font-weight:600"
											ng-click="postAutocosmos()" 
											class="btn btn-block btn-social "> 
											<span class=""></span> Autocosmos
										</a>
										</div>
										  <div class="modal-footer" style="margin-top:0px; text-align=right;">
								            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
								         </div>		
										</div>
								</script>
								<script type="text/ng-template" id="shareSuccessContent.html">
								   	  <div class="modal-success-{{dialogSize}}" style="padding:25px 10px 10px 10px" >
									  	<strong>{{successTextAlert}}</strong> <br>
										<label ng-hide="hideOLXCopyLink"><strong>{{oLXLink}}</strong> </label>
									    <div class="modal-footer"   style="margin-top:20px; padding:10px 10px 5px 0px">
											<div style="float:left">
											<img  src="./assets/logo_mini.png"  style="margin-right:5px"/> 
											<label style="font-weight: normal; font-size:small; margin-top:5px; margin-left:5px;margin-right: 20px;" aling="left">AGENCIA <strong>VIRTUAL</strong></label>
											</div>
											<div style="float:right">
											<button ng-hide="hideOLXCopyLink" type="button" class="btn btn-warning" ng-click="goToOLX()">
    											Ir a OLX
											</button>
								      		<button  class="btn btn-warning" type="button" ng-click="cancelSuccess()">Aceptar</button>
											</div>
  									 	 </div>		
									</div>
								</script>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	<div class="row">

		<div class="col-md-12">
			<div class="panel panel-default panel-default-shadow car-details-panel car-details-panel-last">

				<div class="panel-heading">
					<h4 class="car-details-panel-title">Gastos del
						Veh&iacute;culo</h4>
				</div>

				<div class="panel-body">
					<ng-include src="'cars/carExpenses/carExpenses.tpl.html'" ></ng-include>

				</div>
			</div>
		</div>
	</div>
	<div class="row">
	                  <div class="col-sm-8 col-sm-offset-4">
	                    <div class="form-group">
	                      <div class="car-details-crud-buttons">
	                        <div class="pull-right">
	                          <button type="submit" ui-sref="newCar({carId:carDetailsDto.vehicleDto.id})" class="btn btn-lg btn-primary"><span class="fa fa-pencil"></span>&nbsp;Editar</button>
	                          <button type="submit" class="btn btn-lg btn-danger" ng-disabled="newClientForm.$invalid" ng-click="deleteCarModal()"><span class="fa fa-trash-o"></span>&nbsp;Eliminar Veh&iacute;culo</button>
	                        </div>
	                      </div>
	                    </div>
	                  </div>
	</div>

	<ng-include src="'cars/carDetails/deleteCar.tpl.html'" ></ng-include>

</div>
</div>