<div class="container-fluid padding-right-45">

	<div class="well well-shadow" ng-controller="carDetailsCtrl">
		<div class="row">
			<div class="col-sm-12">
				<div class="well well-sm black-well">
					<div class="container">
						<div class="col-sm-8">
							<h2>
								<span class="title-make">{{carDetailsDto.vehicleDto.makeString}}</span>&nbsp;
								<div class="title-model">{{carDetailsDto.vehicleDto.modelString}}</div>
							</h2>
						</div>
						<div class="col-sm-4">
							<!--<h3><span class="label label-danger">2012</span></h3> -->
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-8">
				<carousel interval="setInterval"> <slide
					ng-repeat="slide in slides">
				<div class="carousel-container img-polaroid">
					<img class="carousel-image img-polaroid" ng-src="{{slide.image}}" />
					<div class="carousel-caption"></div>
				</div>
				</slide> </carousel>
				</br>
				<div class="well car-thumbs-container">
					<ul class="car-thumbs">
						<li ng-repeat="slide in slides"><img ng-src="{{slide.image}}"
							ng-click="setImage(slide.image)"></li>
					</ul>
				</div>
				&nbsp;

				<!-- Panel de detalles del auto -->
				<div
					class="panel panel-default panel-default-shadow car-details-panel car-details-panel-first">

					<div class="panel-heading">
						<h4 class="car-details-panel-title">Datos del Veh&iacute;culo</h4>
					</div>

					<div class="panel-body">
						<div class="tab-content">
							<div class="tab-pane fade in active" id="tab1default">
								<div class="col-md-12 no-padding features">
									<div class="col-md-4 no-padding m-b-md">
										<div class="col-md-10 no-padding">
											<small class="text-muted">Marca</small>
											<div class="h4 no-margin-top fw-400">
												{{carDetailsDto.vehicleDto.makeString}}</div>
										</div>
									</div>
									<div class="col-md-4 no-padding m-b-md">
										<div class="col-md-10 no-padding">
											<small class="text-muted">Modelo</small>
											<div class="h4 no-margin-top fw-400">
												{{carDetailsDto.vehicleDto.modelString}}</div>
										</div>
									</div>
									<div class="col-md-4 no-padding m-b-md">
										<div class="col-md-10 no-padding">
											<small class="text-muted">A&ntilde;o</small>
											<div class="h4 no-margin-top fw-400">
												{{carDetailsDto.vehicleDto.year}}</div>
										</div>
									</div>

								   	 <div class="col-md-4 no-padding m-b-md">

										<div class="col-md-10 no-padding">
											<small class="text-muted">Kilometraje</small>
											<div class="h4 no-margin-top fw-400">{{
												carDetailsDto.vehicleDto.kilometers | number }} Km.</div>
										</div>
									</div>
									<div class="col-md-4 no-padding m-b-md">

										<div class="col-md-10 no-padding">
											<small class="text-muted">Color</small>

											<div class="h4 no-margin-top fw-400">
												{{carDetailsDto.vehicleDto.color}}
											</div>
										</div>
									</div>
									<div class="col-md-4 no-padding m-b-md">

										<div class="col-md-10 no-padding">
											<small class="text-muted">Código de Info Auto</small>
											<div class="h4 no-margin-top fw-400">
												{{carDetailsDto.vehicleDto.codInfoauto}}
											</div>

										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="tab2default">
								<div class="col-md-12 no-padding features">
									<hr class="m-t-xs">
								</div>
							</div>
							<div class="tab-pane fade" id="tab3default">Default 3</div>
							<div class="tab-pane fade" id="tab4default">Default 4</div>
							<div class="tab-pane fade" id="tab5default">Default 5</div>
						</div>
					</div>
				</div>



				<div
					class="panel panel-default panel-default-shadow car-details-panel">

					<div class="panel-heading">
						<h4 class="car-details-panel-title">Datos del Vendedor</h4>
					</div>

					<div class="panel-body">
						<div class="tab-content">
							<div class="tab-pane fade in active" id="tab1default">
								<div class="col-md-12 no-padding features">
									<div class="col-md-4 col-sm-6 col-xs-12 no-padding m-b-md">
										<div class="col-md-10 no-padding">
											<small class="text-muted">Nombre</small>
											<div class="h4 no-margin-top fw-400">
												{{carDetailsDto.seller.firstName}}&nbsp;
												{{carDetailsDto.seller.lastName}}</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-xs-12 no-padding m-b-md">
										<div class="col-md-10 no-padding">
											<small class="text-muted">Direcci&oacute;n</small>
											<div class="h4 no-margin-top fw-400">
												{{carDetailsDto.seller.address}}</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-xs-12 no-padding m-b-md">
										<div class="col-md-10 no-padding">
											<small class="text-muted">Localidad</small>
											<div class="h4 no-margin-top fw-400">
												{{carDetailsDto.seller.city}}</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-xs-12 no-padding m-b-md">
										<div class="col-md-10 no-padding">
											<small class="text-info">Provincia</small>
											<div class="h4 no-margin-top fw-400">
												{{carDetailsDto.seller.province}}</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-xs-12 no-padding m-b-md">
										<div class="col-md-10 no-padding">
											<small class="text-muted">Tel&eacute;fono fijo</small>
											<div class="h4 no-margin-top fw-400">
												{{carDetailsDto.seller.phone | tel }}</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-xs-12 no-padding m-b-md">
										<div class="col-md-10 no-padding">
											<small class="text-muted">Tel&eacute;fono
												m&oacute;vil</small>
											<div class="h4 no-margin-top fw-400">
												{{carDetailsDto.seller.mobile | tel }}</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="tab2default">
								<div class="col-md-12 no-padding features">
									<hr class="m-t-xs">
								</div>
							</div>
							<div class="tab-pane fade" id="tab3default">Default 3</div>
							<div class="tab-pane fade" id="tab4default">Default 4</div>
							<div class="tab-pane fade" id="tab5default">Default 5</div>
						</div>
					</div>
				</div>

				<div
					class="panel panel-default panel-default-shadow car-details-panel car-details-panel-last">

					<div class="panel-heading">
						<h4 class="car-details-panel-title">Gastos sobre el
							Veh&iacute;culo</h4>
					</div>

					<div class="panel-body">

						<div class="col-md-10">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Fecha</th>
										<th>Concepto</th>
										<th>Monto</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>12/6/2015</td>
										<td>Reparacion tren delantero</td>
										<td>$4.500</td>
									</tr>
									<tr>
										<td>16/6/2015</td>
										<td>Pago de seguro cuota 3</td>
										<td>$1.500</td>
									</tr>
								</tbody>
							</table>
							<div class="text-right">Total</div>
							<div>$15.200</div>
							<div class="text-right">Margen de ganancia</div>
							<div>$25.000</div>
							<div class="row">
								<div class="col-sm-6 col-sm-offset-6">
									<div class="form-group">
										<div class="col-sm-offset-2 col-sm-10 new-expenditure-buttons">
											<div class="pull-right">
												<button type="submit" class="btn btn-primary"
													ng-click="newExpenditure()">Nuevo Gasto</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>


					</div>
				</div>




			</div>

			<div class="col-sm-4">
				<div class="well side-well">
					<div class="well price-well price-area">
						<h1 class="text-center">
							<div class="price-label-details">Precio</div>
							<div class="price-details">$ {{carDetailsDto.sellingPrice |
								number }}</div>
						</h1>
					</div>
					<div class="panel panel-default panel-details-right">
						<div class="panel-body">
							<a ui-sref="sellCar({carId:carDetailsDto.vehicleDto.id})"
								ng-hide="carDetailsDto.sold"
								class="btn btn-danger btn-lg btn-block" role="button">
								<div class="car-details-buttons">
									<i class="fa fa-usd"></i> Vender
								</div>
							</a> <a ui-sref="reserveCar({carId:carDetailsDto.vehicleDto.id})"
								ng-hide="carDetailsDto.booked || carDetailsDto.sold"
								class="btn btn-primary btn-lg btn-block" role="button">
								<div class="car-details-buttons">
									<i class="fa fa-lock"></i> Reservar
								</div>
							        <a ui-sref="insuranceQuote({carId:carDetailsDto.vehicleDto.id})"  class="btn btn-primary btn-lg btn-block" role="button">
							        	<div class="car-details-buttons">
							        		<i class="fa fa-globe"></i> Calcular Seguro
							        	</div>
							        </a> 
							        <a ui-sref="insuranceQuote" class="btn btn-primary btn-lg btn-block" role="button" target="_blank">
							        	<div class="car-details-buttons">
							        		<i class="fa fa-bar-chart"></i> Calcular Prenda
							        	</div>
							        </a>
							<div ng-click="open()" ng-controller="shareModalCtrl"
								ng-hide="carDetailsDto.booked || carDetailsDto.sold" 
								class="car-details-buttons btn btn-primary btn-lg btn-block"
								id="shareDiv"> 
								<i class="fa fa-bar-chart"></i> Compartir
								<script type="text/ng-template" id="myModalContent.html">
									  <div class="modal-header">
     								       <h3 class="modal-title">Seleccione</h3>
       								 </div>
                                      <div class="modal-body">
										<!-- http://lipis.github.io/bootstrap-social/ -->
										<a id="facebookBtn" role="button" ng-click="loginFacebook()"
											class="btn btn-block btn-social btn-facebook"> 
											<span class="fa fa-facebook"></span> Facebook
										</a>
                                        <a id="mercadolibreBtn" ng-click="loginMercadoLibre()" style="background-color: yellow; color: black; font-weight:600" 
											class="btn btn-block btn-social" > 
											<span style=""></span> Mercadolibre
										</a>
										<a id="olxBtn" style="background-color: grey; color: black; font-weight:600"
											class="btn btn-block btn-social "> 
											<span class=""></span> OLX
										</a>
										<a id="olxBtn" style="background-color: rgba(100,100,100,.6); color: black; font-weight:600"
											class="btn btn-block btn-social "> 
											<span class=""></span> Autocosmos
										</a>
										<div style="margin-top: 5px" class="alert alert-success" ng-show="showSuccessAlert">
								   			<strong>{{successTextAlert}}</strong> 
								 		</div>
										</div>
										  <div class="modal-footer" style="margin-top:0px">
								            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
								         </div>		
									</div>
								</script>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
</div>