.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.black-well {
    height: 85px;
    background: #242424;
    border: 0px;
    border-radius: 10px 10px 0px 0px;
    border-bottom: medium solid #ff0000;

}

.black-well h2, h3 {
    margin-top: 0px;
    color: #ffffff;
}

.title-make-and-model {
    margin-left: 15px;
}

.black-well h2 .title-make {
    color: #ed382b;
    padding-left: 9px;
}

.title-model {
  font-weight: 600;
  display: inline;
}

.title-year {
  font-weight: 200;
  margin-right: 27px;
  margin-top: 3px;
  color: #ed382b;
}

.side-well {
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    background: transparent;
    margin-top: 0px;
}

.price-well {
    border-radius: 0px;
}

.details-price-area {
  padding: 19px;
  height: 129px;
 // border: 1px solid white;
}

.details-status-label {
  font-size: 1em;
  font-weight:  200;  
  float: right;
  margin-right: 20px;
}

.big-price {
  margin-top: 18px;
  margin-right: 15px;
  clear: both;
}

.price-label-details {
    font-size: 15px;
    padding-right: 6px;
    font-weight: 100;
    color: #667;
    display: block;
}

.price-details {
    font-family: Monserrat, sans-serif;
    font-size: 1em;
    font-weight: 700;
    clear: both;
}

.carousel {
    margin-top: 0px !important;
    background-color: black !important;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-radius: 5px;
}



.car-thumbs-container {
    width: 100% !important;
    margin: 0px !important;
    border-radius: 7px;
}

.carousel-container {
  height:100%;
}

// Determina la altura final de la foto de la galeria. 
// La imagen esta a 100%, asi que toma esta altura
.carousel-inner {
  height: 421px;
}

.carousel-inner > .active {
  height: 100%;
}

.carousel-image {
  height: 100%;
}

.operation-label {
  margin-top: 0px;
  margin-bottom: 0px; 
  font-size: 23px;
}


.car-details-panel {
	margin-bottom: 45px;
  box-shadow: 6px 5px 16px #D1D0CE;
}

.operation-details-column {
  font-size: 16px;
}

.car-details-panel-title {
    margin-left: 49px;
    padding-left: 10px;
    padding-top: 25px;
    padding-bottom: 19px;
    font-size: 22px;
    border-bottom: 1px solid red;
    width: 85%;
}

.car-details-panel-first {
  margin-top: 70px;
}

.car-details-panel-last {
  margin-bottom: 240px;
}

.car-details-badge {
  font-size: 15px;

  // esto lo agregue porque parecia caido un poco para abajo ..
  position:relative;
  top: -1px;
}

.carousel {
  margin-top: 40px;
}

.panel-details-right {
  margin-top:22px;
  height: 280px;
}

.panel-details-right-body {
  width: 90%;
  margin: auto;
}

.car-details-buttons {
    text-align: left;
    padding-left: 16px;
} 

.car-details-buttons div {
   // margin-left: 68px;
    display: inline;
}

.alternative-buttons-block {
  margin-top: 5px;
}

.car-details-crud-buttons {
    padding-right: 30px;
    padding-bottom: 51px;
}


// no se esta usando
.btn-car-details-panel {
    background-color: #ed382b;
   
}


.car-thumbs-container {
  padding:0px;
  background-color: black;
}

.car-thumbs {
  padding: 0px !important;
  margin: 0px !important;
}

.carousel-control .glyphicon-chevron-left {
  left: 43% !important;
}

.carousel-control .glyphicon-chevron-right {
  right: 30% !important;
}

ul.car-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 0.5em;
  background-color: white;
}

ul.car-thumbs img {
  width: 170px;

}

ul.car-thumbs img:hover {
  cursor: pointer;
}

.features {
  padding-top: 16px;
  padding-bottom: 37px;
}

.text-info {
  margin-top: 12px;
}

.no-margin-top {
    margin-top: 0;
}

.fw-400 {
  font-weight: 400;
}


.modal-success-sm {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 24, 24);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  background-image: url('../assets/background_logo.png');
  background-repeat:no-repeat;
  background-position: -200% 50%;
}

.modal-success- {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 24, 24);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  background-image: url('../assets/background_logo.png');
  background-repeat:no-repeat;
  background-position: -25% 50%;
}

.modal-content{
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 24, 24);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  background-image: url('../assets/background_logo.png');
  background-repeat:no-repeat;
  background-position: -150% -100%;
}

.btn-warning {
  background-color: rgb(255, 24, 24);
  border-color:rgb(255, 24, 24);
}


