<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"> 
    
<hibernate-configuration>
    <session-factory>        
        <mapping class="com.miagencia.core.model.Client" />
        <mapping class="com.miagencia.core.model.Vehicle" />
        <mapping class="com.miagencia.core.model.SaleItem" />
        <mapping class="com.miagencia.core.model.Make" />
        <mapping class="com.miagencia.core.model.Model" />
        <mapping class="com.miagencia.core.model.VehicleFeature" />
        <mapping class="com.miagencia.core.model.VehicleFeatureGroup" />
        <mapping class="com.miagencia.core.model.VehicleFeatureValue" />
        <mapping class="com.miagencia.core.model.Account" />
        <mapping class="com.miagencia.core.model.Dealership" />
        <mapping class="com.miagencia.core.model.Location" />
        <mapping class="com.miagencia.core.model.Country" />
        <mapping class="com.miagencia.core.model.City" />
        <mapping class="com.miagencia.core.model.State" />
        <mapping class="com.miagencia.core.model.Neighborhood" />
        <mapping class="com.miagencia.core.model.operations.VehicleOperation" />
        <mapping class="com.miagencia.core.model.operations.BuyOperation" />
        <mapping class="com.miagencia.core.model.operations.ConsignmentOperation" />
        <mapping class="com.miagencia.core.model.operations.ReservationOperation" />
        <mapping class="com.miagencia.core.model.operations.SaleOperation" />
        <mapping class="com.miagencia.core.model.Expense" />
        
    </session-factory>         
</hibernate-configuration>