<script type="text/ng-template" id="deleteClientModal.html">

	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">Eliminar Contacto</h4>	
		</div>
		<div class="modal-body">
		</br>
			<label>
				<p class="success-modal-message">&nbsp;Est&aacute; seguro que desea eliminar el contacto?</p>
			</label>
		</div>
		<div class="modal-footer">
			<button class="btn btn-default" type="button" ng-click="cancel()">Cancelar</button>
		            <button type="submit" class="btn btn-danger" ng-click="deleteClient()">Eliminar </button>
		</div>
	</div>
</script>


