.jumbotron {
  margin: 40px 0 80px 0;
  text-align: center;

  h1 {
    margin-bottom: 20px;
    font-size: 55px;
    line-height: 1;
  }

  .lead {
    font-size: 24px;
    line-height: 1.25;
  }

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

  #button-new {

    font-size: 16px;
    color: #f1f1f1!important;
    box-shadow: 0 4px 4px -3px rgba(0,0,0,0.6);
  }

  #button-new .fa {
      margin-right: 5px;
  }

  .car-filter {
    margin: 20px 0px 20px 153px;
  }

  .well{
    background-color: #FFFFFF;
    padding-top: 30px;
    border-radius:12px;
  }

.vehicle-item {
  display:block;
  margin-bottom: 40px;
  border-radius:3px;
  border:4px solid white;
  box-shadow: 1px 1px 6px #E8E8E8;
  -webkit-transition: border 0.6s;

}

.vehicle-item:hover {
  border:4px solid #E8E8E8;
  border-radius:5px;

}

.image-container {
  height: 161px;
  width: auto: ;
}

.vehicle-item img{
  width:100%;
  max-height: 100%;
  border-radius:7px 7px 0px 0px;
}

.overlay-container{
  position:relative;
  background: rgba(52,59,67,0.6);
}

.camera-count {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #ffffff;
  padding: 0 10px 10px 10px;
}

.make {
  padding-top:4px;
  padding-bottom:5px;
  margin-left:14px;
  font-size:16px;
  color:white;
  display:block;
}



.model {
  color:red;
}


.price-label {

  font-size: 12px;
  font-weight: bold;
  color: #667;
  display: inline;

}

.price {

  font-size:23px;
  font-weight:600;
  display: inline;
  float: right;

}

.year-kms {

  font-size: 13px;
  color: #667;

}

.make-area {
  background: #000000;
}

.make-model-area {
  background: #F0F0F0;
}

.price-area {
 /* border: 1px solid #dddddd; */
}

.sell-buttons-area {
  border-top3:px solid #dddddd;
  padding-left:14px;
  padding-top:20px;
  background:#F0F0F0;
  height:76px;
  border-radius:0px 0px 4px 4px;
}

.sell-buttons-area a {
  font-size: 14px;
}

.is-sold {
  margin:0px;
  font-style: italic;
}

.is-booked {
  margin:0px;
  font-style: italic;
}

.btn-sell-car {
    font-size: 16px;
    color: #f1f1f1!important;
    background-color: #ed382b;
    border-color: #ed382b;
    -webkit-box-shadow: 0 4px 4px -3px rgba(0,0,0,0.6);
    box-shadow: 0 4px 4px -3px rgba(0,0,0,0.6);
}

.btn-sell-car:hover {
  background-color: #0B0B3B;
}

.btn-book-car {
    font-size: 16px;
    color: #f1f1f1!important;
    background-color: #335397;
    border-color: #335397;
    -webkit-box-shadow: 0 4px 4px -3px rgba(0,0,0,0.6);
    box-shadow: 0 4px 4px -3px rgba(0,0,0,0.6);
}

.btn-book-car:hover {
  background-color: #0B0B3B;
}


.marketing {
  .row {
    margin-bottom: 10px;
  }

  .row:last-child {
    margin-bottom: 0;
  }

  
  h4 [class*=" icon-"], h4 [class^="icon-"] {
    margin-right: 5px;
    vertical-align: -10%;
    font-size: 28px;
    line-height: 1;
  }






}

