<div class="container-fluid padding-right-45">
    </br>


    <div class="row">

            <div class="useful-links-container">
                  <div class="btn-group pull-right useful-links-buttons">
                          <div class="dropdown pull-left button-margin-right">
                                  <button class="btn btn-default dropdown-toggle useful-links-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Formularios&nbsp;
                                    <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="https://www.infraccionesba.net/webInfractor.do?method=consultaInfracciones"  target="_blank">Boleto de Compraventa</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="http://www.buenosaires.gob.ar/consulta-de-infracciones" target="_blank">Boleto de Reserva</a></li>
                                  </ul>
                          </div>
                          <div class="dropdown pull-right">
                                  <button class="btn btn-default dropdown-toggle useful-links-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Informaci&oacute;n &Uacute;til&nbsp;
                                    <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="https://www.infraccionesba.net/webInfractor.do?method=consultaInfracciones" target="_blank">Consulta infracciones Prov. Buenos Aires</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="http://www.buenosaires.gob.ar/consulta-de-infracciones" target="_blank">Consulta infracciones Capital Federal</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="http://hitman.arba.gov.ar/AvisoDeudas/?imp=1" target="_blank">Deuda patentes Prov. Buenos Aires</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="https://lbserver02.agip.gob.ar/ConsultaPat/" target="_blank">Deuda patentes Capital Federal</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="http://www.dnrpa.gov.ar/portal_dnrpa/radicacion.php" target="_blank">Radicaci&oacute;n de patentes</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="http://www.dnrpa.gov.ar/guia_calles/guia_cons_1.php?tipo_registro_seccional=A" target="_blank">Registro por domicilio</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="http://www.dnrpa.gov.ar/portal_dnrpa/guiatramites.php" target="_blank">Gu&iacute;a de tramites</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="http://www.dnrpa.gov.ar/portal_dnrpa/pverificadoras.php" target="_blank">Consulta de planta verificadora</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="https://auth.afip.gob.ar/contribuyente_/login.xhtml" target="_blank">AFIP</a></li>
                                    <li role="separator" class="divider"></li>
                                  </ul>
                          </div>
                    </div>
            </div>

    </div>

    <!-- filter/search bar -->
    <div class="row">
        <nav class="navbar navbar-default navbar-inverse">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-new-car" id="bs-example-navbar-collapse-1">
               <a ui-sref="newCar" id="button-new" class="btn btn-lg btn-new pull-left"><i class="fa fa-car"></i>Nuevo</a>
              <form id="custom-search-form" class="form-search form-horizontal navbar-form navbar-left">
                      <div class="input-append span12">
                        <input type="text" ng-model="query" class="form-control" placeholder="Buscar..">
                        <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                      </div>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ordenar&nbsp;<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Últimos</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Vendidos</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Reservados</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    </div>






    <div class="row">
      <h2 class="page-title">Mis Autos</h2>
      <div ng-repeat="car in cars | filter:query" class="col-xs-12 col-sm-4 col-md-3 padding-3">

        <!-- vehicle item -->
        <div class="panel vehicle-item">

          <a ui-sref="carDetails({carId:car.id})">
          <div class="image-container no-padding">
             <!-- <img src="assets/img/foto1.jpg"> -->
              <img ng-src={{car.imageUrl}} alt=""> 
              <div class="overlay-container">
                <div class="camera-count">
                  <i class="fa fa-camera"></i> {{car.imageCount}}
                </div>
              </div>
            </div>
          </a>

          <div class="make-model-area">
            <div class="make-area">
              <div class="make">{{car.make | capitalize }}</div>
              <div ng-show="car.sold" class="label label-success status-label">Vendido</div>
              <div ng-show="car.booked" class="label label-primary status-label">Reservado</div>
            </div>
            <div class="model-area">
              <strong class="model">{{car.model | capitalize }}</strong>
            </div>
          </div>

          <div class="price-area">
            <div class="price-label">Precio</div>
            <div class="price">$&nbsp;{{car.price | number }}</div>
          </div>

          <div class="row table-center summary-area small">
            <div class="year-kms col-xs-9 no-padding-right no-padding-left table-cell-center">
              <i class="fa fa-calendar-o"></i>&nbsp;&nbsp;A&ntilde;o&nbsp;{{car.year}}</br>
              <i class="fa fa-road"></i>&nbsp;{{car.kilometers | number }}&nbsp;Km</br>
              <i class="fa fa-clock-o"></i>&nbsp;&nbsp;20&nbsp;D&iacute;as en venta&nbsp;</br>
              <i class="fa fa-usd"></i>&nbsp;&nbsp;Gastos&nbsp;$2.500&nbsp;</br>
            </div>
            <div class="col-xs-3 no-padding-right no-padding-left table-cell-center"></div>  
            </div>
        <!-- end vehicle item -->

        </div>   
      </div>
      <div ng-show="cars.length == 0">
        <h3  class="text-muted no-elements">
            No tiene autos para mostrar.
        </h3>
      </div>
    </div>

    <!-- pagination component -->
      <div class="row">
        <div class="col-sm-8 col-sm-offset-4">
          <nav>
            <ul style="visibility:hidden;" class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </br>
    <!-- end pagination component-->
</div>
<!-- end container -->

