<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@joshdmiller">
    <meta name="twitter:title" content="ngBoilerplate">
    <meta name="twitter:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
    <meta name="twitter:creator" content="@joshdmiller">
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="ngBoilerplate" />
    <meta charset="utf-8"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://bit.ly/ngBoilerplate" />
    <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
    <meta property="og:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">

    <meta name="viewport" content="width=device-width, initial-scale=1">



    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">




    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">


	<script type="text/javascript" src="assets/FileSaver.min.js" ></script>
 
    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

  </head>
  <body>

  <div class="row">
    <nav class="navbar navbar-inverse navbar-fixed-top" ng-show="authenticated">
      <div class="container-fluid">
        <div class="navbar-header">
          <!--
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          -->
          <a class="navbar-brand" href="index.html#/home">
            <img src="assets/img/logo.png"></img>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse"> 
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown open">
              <a class="user-menu dropdown-toggle" href="#"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;&nbsp;{{account.dealershipName}}</a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">Mi Perfil</a>
                </li>
                <li>
                    <a href="#" ng-click="logout()">Salir</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>




    
    <div class="row">

      
        <!-- sidebar -->
        <!--<div class="sidebar" sidebar-directive="state"> -->
        <div class="sidebar navbar navbar-inverse" ng-class="{'show' : state }" ng-mouseover="showSidebar()" ng-mouseleave="hideSidebar()" ng-show="authenticated">
            <a id="navigation-toggle"><i class="fa fa-2x"
              ng-class="{'fa-angle-double-left' : state, 'fa-angle-double-right' : !state}"></i></a>
            <div class="brand">
              <a href="#menu-toggle" style="visibility:hidden;" class="btn btn-default" id="menu-toggle">Toggle Menu</a> 
            </br>
            </div>
            <ul class="nav nav-pills nav-stacked sidebar-nav-pills">
              <uib-accordion class="sidebar-menu-entry" close-others="oneAtATime">
                  <uib-accordion-group is-open="false">
                  <uib-accordion-heading>
                    <a href="#" class="sidebar-link">
                      <i class="fa fa-cloud-upload"></i>
                      <div class="div-inline"> Nuevo</div>
                      <span class="arrow"></span>
                    </a>
                  </uib-accordion-heading>
                  <ul>
                    <li><a ui-sref="newCar">Nuevo auto</a></li>
                    <li><a ui-sref="newClient">Nuevo contacto</a></li>
                  </ul>
                  </uib-accordion-group>
              </uib-accordion>
              <li class="active">
                  <a ui-sref="home" class="sidebar-link">
                    <i class="fa fa-car"></i> Mis Autos&nbsp;<span class ="badge pull-right">{{vehiclesCount}}</span>
                  </a>
              </li>
              <li class="active">
                  <a ui-sref="clientList" class="sidebar-link">
                    <i class="glyphicon glyphicon-user"></i>  Mis Contactos&nbsp;<span class ="badge pull-right">{{clientsCount}}</span>
                  </a>
              </li>
              <li style="display:none;">
                  <a ui-sref="home">
                    <i class="fa fa-car"></i>  Autos para levantar
                  </a>
              </li>
                
              <li data-toggle="collapse" data-target="#service">
                <a ui-sref="insuranceQuote" target="_blank">
                  <i class="fa fa-lock fa-lg"></i> Seguros </a>
              </li>  
              <li style="display:none;" data-toggle="collapse" data-target="#new" class="collapsed">
                  <a ui-sref="insuranceQuote">
                    <i class="fa fa-handshake-o fa-lg"></i> Prendas 
                  </a>
              </li>
            </ul>
        </div>



      <div class="col-md-11 col-md-offset-1">
        <!-- contenido -->
        <div class="container contenido-principal" ui-view="main"></div>
      </div>
    </div>




      <footer class="site-footer navbar-fixed-bottom">  
        <div class="footer-container">
          <div class="m-t m-l-xs">
            &#169;&nbsp;2000 - 2015 -&nbsp;<a href="/" class="text-danger">MiAgencia.com</a>&nbsp;- Todos los derechos reservados.<br>                   
          </div>
          <div class="m-t m-l-xs">
                        Usar este sitio implica aceptar nuestros <a href="http://ayuda.latamautos.com/teacuterminos-y-condiciones.html" class="text-danger">T&eacute;rminos y Condiciones</a> de Uso.
                        Prohibida su reproducci&oacute;n total o parcial, <p>as&iacute; como su traducci&oacute;n a cualquier idioma sin autorizaci&oacute;n escrita de su titular.
                        </p>
          </div>
        </div>
      </footer>
  </body>

</html>
