<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@joshdmiller">
    <meta name="twitter:title" content="ngBoilerplate">
    <meta name="twitter:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
    <meta name="twitter:creator" content="@joshdmiller">
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="ngBoilerplate" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://bit.ly/ngBoilerplate" />
    <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
    <meta property="og:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">

 
    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html#/home">
            <img src="assets/img/logo.jpg"></img>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">  
          <ul class="nav navbar-nav navbar-right">
            
            <li><a class="user-menu" href="#"><i class="fa fa-user fa-lg user-avatar"></i>&nbsp;&nbsp;&nbsp;Zingaro Automotores</a></li>
          </ul>

          <div id="buscar-form" class="input-group-btn navbar-form navbar-right">
            <input type="text" ng-model="query" class="form-control" placeholder="Buscar...">
             <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </nav>







      <div class="container contenido-principal" ui-view="main"></div>







      <footer class="site-footer navbar-fixed-bottom">  
        <div class="footer-container">
          <div class="m-t m-l-xs">
            &#169;&nbsp;2000 - 2015 -&nbsp;<a href="/" class="text-danger">MiAgencia.com</a>&nbsp;- Todos los derechos reservados.<br>                   
          </div>
          <div class="m-t m-l-xs">
                        Usar este sitio implica aceptar nuestros <a href="http://ayuda.latamautos.com/teacuterminos-y-condiciones.html" class="text-danger">T&eacute;rminos y Condiciones</a> de Uso.
                        Prohibida su reproducci&oacute;n total o parcial, <p>as&iacute; como su traducci&oacute;n a cualquier idioma sin autorizaci&oacute;n escrita de su titular.
                        </p>
          </div>
        </div>
      </footer>
  </body>

</html>
