<div class="container-fluid padding-right-45">
	<div class="row">
	<div class="col-md-7 col-md-offset-2" ng-controller="reserveCarCtrl">
		<h2 class="page-header reserve-car-header">&nbsp;<i class="fa fa-car"></i>&nbsp;Reservar Auto</h2>

			<div class="panel panel-info well-shadow reserve-car-panel">		

					<div class="panel-heading vehicle-excerpt-horizontal">
						<div class="container-fluid">
							<div class="row vehicle-excerpt-horizontal-header">
								<div class="col-md-9">
									<h3>
										<span class="vehicle-excerpt-horizontal-title-make">
											{{carDetailsDto.vehicleDto.makeString}}
										</span>
										<div class="vehicle-excerpt-horizontal-title-model">
											{{carDetailsDto.vehicleDto.modelString | capitalize}}
										</div>
									</h3>
								</div>
								<div class="col-md-3">
									<h3>
										<span class="vehicle-excerpt-horizontal-title-year pull-right">
											{{carDetailsDto.vehicleDto.year}}&nbsp;&nbsp;<i class="fa fa-calendar-o"></i>
										</span>
									</h3>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
							        <div class="image-container no-padding">
							          <!--<img src="assets/img/foto1.jpg">-->
							          	 <img ng-src={{imageUrl}} alt="..."> 
							            <div class="overlay-container">
							            </div>
							          </img>
						        	</div>
								</div>
								<div class="col-md-6 vehicle-excerpt-horizontal-block">
								   <div class="vehicle-excerpt-horizontal-summary-area">
									 <i class="fa fa-calendar-o"></i>
									 &nbsp;&nbsp;A&ntilde;o&nbsp;{{carDetailsDto.vehicleDto.year}}
									</br>
						             <i class="fa fa-road"></i>
						             &nbsp;{{carDetailsDto.vehicleDto.kilometers | number }}
						             &nbsp;Km.
						         		</br>
						             <i class="fa fa-clock-o"></i>&nbsp;&nbsp;20&nbsp;D&iacute;as en venta&nbsp;</br>
						             <i class="fa fa-usd"></i>&nbsp;Gastos&nbsp;$2.500&nbsp;</br>
						           </div>
						           <div class="vehicle-excerpt-horizontal-price-area pull-right">
						           	<div class="vehicle-excerpt-horizontal-price-label-details">Precio&nbsp;</div>
									<div class="vehicle-excerpt-horizontal-price-details">
										${{carDetailsDto.sellingPrice | number }}
									</div>
						           </div>
								</div>
					        </div>
				    	</div>
				    </div>

					</br>
					</br>
			        <form name="reserveVehicleForm" class="panel-body" role="form" novalidate>

			        	<div class="row">
			        		<div class="col-md-12">
					        	<fieldset class="form-group container-fluid">
									<h4 class="control-label reserve-car-form-label">Cliente que reserva</h4>
									<select class="form-control" name="repeatSelect" id="clientSelect" ng-model="selectedClientId">
					      				<option ng-repeat="option in clientList" value="{{option.id}}">{{option.firstName}}&nbsp;{{option.lastName}}</option>
					    			</select>
								</fieldset>
							</div>	
						</div>
					
						<div class="row">
							<div class="col-md-12">	
								<fieldset class="form-group container-fluid" ng-class="{'has-error': reserveVehicleForm.advancePayment.$invalid}">
									<h4 class="control-label reserve-car-form-label">Valor de reserva del Veh&iacute;culo</h4>
										<div class="input-group">
										  <div class="input-group-addon">$</div>
										  <input type="text" name="advancePayment" class="form-control" id="exampleInputAmount" placeholder="Monto de reserva para este ve&iacute;culo" ng-model="advancePayment" required ui-number-mask="0">
										 <div class="input-group-addon">.00</div>
									 	</div> 
									 <span class="help-block" 
						     			ng-show="reserveVehicleForm.advancePayment.$error.required">El campo es requerido
						     		</span>
								</fieldset>
							</div>
						</div>
				

							<div class="row">
			                  <div class="col-md-12">
			                    <div class="form-group">
			                      <div class="reserve-car-buttons">
			                      	<!-- <a href="http://localhost:8080/miagencia/pics/legalDocument/boleto-compra-venta-automotor.pdf" type="submit" class="btn btn-default"> -->
			                      	<a href={{reserveForm}} type="submit" class="btn btn-default">Imprimir reserva</a>
			                        <div class="pull-right">
			                          <button type="submit" class="btn btn-default" ng-click="cancelModal()">Cancelar</button>
			                          <button type="submit" class="btn btn-primary" ng-click="reserveCar()">Reservar </button>
			                        </div>
			                      </div>
			                    </div>
			                  </div>
			                </div>
			</form>

			    <ng-include src="'modals/cancelConfirmation.tpl.html'" ></ng-include>
    			    <ng-include src="'modals/saveSuccessModal.tpl.html'" ></ng-include>

			</div>
	</div>
	</div>
</div>
