/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

@import '../../vendor/bootstrap/less/bootstrap.less';


/**
 * This is our main variables file. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';


/**
 * Typography
 */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/Roboto-Regular.woff) format('woff');
}

code, pre, .pre {
  padding: 5px;
  margin: 10px 0;
  background-color: #EFEFEF;
  border: 1px solid #DADADA;
  border-radius: 3px;
}

code {
  padding: 0 3px;
}

pre {
  margin: 10px 0;
  padding: 5px;
}

.page-header {
  margin-top: 60px;

  &:first-child {
   /* margin-top: 20px; */
  }
}




html {
  position: relative;
  min-height: 100%;
}


body {
  padding-top: 50px !important;
  margin: 0px;
  padding: 0px;
      /* Margin bottom by footer height */
  /* margin-bottom: 60px; */
}


h2 {
  margin: 20px 0;
  color: #666;
}


/**
 * Navigation
 */

.navbar {
  margin-top: 0px;
  opacity: .93;
  
  small {
    font-size: 60%;
  }
}


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}




.user-menu {
  color:#fff !important;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  right: 30px;
}

.user-avatar {
   color:#A8A8A8;
}


.label {
  font-size:65%;
}


.navbar-right {
  margin-right: 0px;
}


.contenido-principal {
    margin-top:60px;
    margin-bottom:210px;
  //  margin-left:150px; // Corrimiento de todo el contenido por el sidebar
}

.pagination {
  margin-bottom:100px;
}



.site-footer {
  position: absolute;
  height: 200px;
  background-color: #000000;
  padding-top: 30px;

}

.footer-container {
  font-size: 12px;
  padding-top: 20px;
  margin-left: 210px;
  padding-left:40px;
}

.padding-3 {
  padding:3px;
}

.padding-right-45 {
  padding-right:45px;
}





  .social {
    float: right;
    margin: 0;
    list-style: none;

    li {
      float: left;
      margin-left: 20px;

      a, a:visited {
        color: @gray-light;
        text-decoration: none;
        font-size: 40px;
        .transition( 250ms ease-in-out );

        &:hover {
          color: @gray;
        }
      }
    }
  }









/* Para que el logo no se vea tan abajo y no se corte, modifica el original que es de 15px */
.navbar-brand {
  padding-top: 8px;
}



.nav-side-menu {
  overflow: auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #000000;
  position: fixed;
  top: 50px;
  left: 0px;
  width: inherit;
  height: 100%;
  color: #ffffff;
}
.nav-side-menu .brand {
  background-color: #000000;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

.nav-side-menu li {
  padding-left: 0px;
  /* border-left: 3px solid #2e353d; */
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a { /* sacar */
  text-decoration: none;
  color: #ffffff;
}

.nav-side-menu .sidebar-menu-entry a {
  text-decoration: none;
  color: #ffffff;
}

.nav-side-menu li a i { /* sacar */
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}

.sidebar-menu-entry .panel-default .panel-heading {
  background-color: #000000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.nav-side-menu .sidebar-menu-entry a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}

.nav-side-menu li:hover {  /* sacar */
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

/*
.nav-side-menu .sidebar-menu-entry:hover { 
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
*/


@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}




.btn-new {
    color: #fff !important;
    background-color: #ed382b !important;
    border-color: #ed382b !important;
}




.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:500px;
    height:350px;
}
form .progress {
    line-height: 15px;
}
.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}
.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}









/** SIDEBAR */
 /* Toggle Styles */
 
 #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}
 
#wrapper.toggled {
    padding-left: 250px;
    overflow: scroll;
}
 
#sidebar-wrapper {
    z-index: 1000;
    position: absolute; 
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
 
#page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;  
    overflow-x: hidden; 
}
.xyz{
    min-width: 360px;
}
#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px; 
}
.fixed-brand{
    width: auto;
}
/* Sidebar Styles */
 
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
}
 
.sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
}
 
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}
 
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    border-left: red 2px solid;
}
 
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
 
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
 
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
 
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.no-margin{
    margin:0;
}
 
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    .fixed-brand{
        width: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
 
    #sidebar-wrapper {
        width: 250px;
    }
 
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
        width: 50px;
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
        width: 250px;
    }
 
 
    #page-content-wrapper {
        padding: 20px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
 
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 250px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -200px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;
 
    }
}




// Este es el sidebar principal que anda.x
.sidebar {
    position : fixed;
    top : 50px;
    left : -160px;;
    transition : 500ms left;
    height: 100%;
    background: #000000;
    z-index: 10;
}

// Esta es la solapita para mostrar o ocultar el sidebar
#navigation-toggle {
        position : absolute;
        left : 200px;
        top: 5px;
        background: #000000;
        color : white;
        text-decoration : none;
        padding : 10px;
        border-radius: 0px 20px 20px 0px;
}

.show {
    left : 0;
}

// Esto es el contenedor de los elementos internos de la sidebar
.navigation {
    list-style : none;
    padding : 0;
    margin : 0;
    width: 200px;
}
.navigation-items a {
    display : block;
    color : white;
    line-height : 2em;
    text-decoration : none;
    padding : 10px 30px;


}
.navigation-items a:hover {
    background-color : #222;
}











    #custom-search-form {
        position: relative;
        margin:0;
        margin-top:9px;
        padding: 0;
        margin-right: 285px;
    }
 
    #custom-search-form .search-query {
        width: 300px;
        padding: 3px;
        padding-left: 5px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        margin-right: 40px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
 
    #custom-search-form button {
        border: 0;
        background: none;
        position: absolute;
        top: 2px;
        left: 275px;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 0px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        margin-right: 40px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }

















/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using. 
 *
 * TODO: In a later version of this boilerplate, I'd like to automate this.
 */

@import '../app/home/home.less';
@import '../app/cars/carDetails/carDetails.less';
@import '../app/clients/clientDetails/clientDetails.less';
@import '../app/clients/newClient/newClient.less';
@import '../app/clients/clientList/clientList.less';
@import '../app/cars/newCar/newCar.less';


