<script type="text/ng-template" id="cancelConfirmationModal.html">
	<div class="modal-header">
		<h4 class="modal-title success-modal-title">Cancelar</h4>	
	</div>
	<div class="modal-body">
	</br>
		<label>
			<p class="success-modal-message">&nbsp;Est&aacute; seguro que desea cancelar la operaci&oacute;n?</p>
		</label>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" type="button" ng-click="cancel()">No</button>
	            <button class="btn btn-danger" type="button" ng-click="clearAll()">Si</button>
	</div>
</script>