

.insurance-quote-buttons {
	margin: 22px 20px;
}

.padding-right-100 {
	padding-right: 100px;
}


.panel-info-insurance-quote {
	border:none;
	margin-bottom: 40px;
	-webkit-box-shadow: none;
    	box-shadow: none;
}