

legend {
	padding: 15px 15px 15px 0px;
	margin-left: 70px;
	width: 70%;
}

fieldset:first-child {
	padding-top: 20px;
}

fieldset:last-child {
	padding-bottom: 20px;
}


.form-last {
	margin-bottom: 130px;
}

.new-client-control-label {
	font-weight: 500;
}

.new-client-form-control {
	font-weight: 300;
	width: 336px !important;
}

.new-client-fields {
	margin: 6px 0px;
}

.new-client-buttons {
	margin: 40px 70px 30px 70px;
}

.new-client-help-block {
	margin-top: 9px;
}


