<div class="container-fluid padding-right-45">
  <div class="row">
    <div class="col-md-7 col-md-offset-2">
    <h2 class="page-header">&nbsp;<i class="glyphicon glyphicon-user"></i>&nbsp;Nuevo Contacto</h2>

    <div ng-controller="newClientCtrl">
     <form name="newClientForm" class="form-horizontal well well-shadow" role="form" novalidate>
        <fieldset>

          <!-- Form Name -->
          <legend class="new-client-legend">Datos Personales</legend>

            <div class="new-client-fields">
                <!-- Text input-->
                <div class="form-group" ng-class="{'has-error': newClientForm.firstName.$invalid && newClientForm.firstName.$touched}">
                  <label class="col-sm-3 control-label new-client-control-label" for="textinput">Nombre</label>
                  <div class="col-sm-9">
                    <input type="text" name="firstName" placeholder="Nombre" class="form-control new-client-form-control" ng-model="newClient.firstName" required>
                    <span class="help-block new-client-help-block" 
                      ng-show="newClientForm.firstName.$error.required && newClientForm.firstName.$touched">Este campo es obligatorio</span>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group" ng-class="{'has-error': newClientForm.lastName.$invalid && newClientForm.lastName.$touched}">
                  <label class="col-sm-3 control-label new-client-control-label" for="textinput">Apellido</label>
                  <div class="col-sm-9">
                    <input type="text" name="lastName" placeholder="Apellido" class="form-control new-client-form-control" ng-model="newClient.lastName" required> 
                    <span class="help-block new-client-help-block" 
                        ng-show="newClientForm.lastName.$error.required && newClientForm.lastName.$touched">Este campo es obligatorio</span>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-sm-3 control-label new-client-control-label" for="textinput" >DNI</label>
                  <div class="col-sm-9">
                    <input type="text" placeholder="Documento" class="form-control new-client-form-control" ng-model="newClient.dni">
                  </div>
                </div>

              </div>

        </fieldset>
        <br/>
        <fieldset>

          <!-- Form Name -->
          <legend class="new-client-legend">Datos de Contacto</legend>


            <div class="new-client-fields">

                <!-- Text input-->
                <div class="form-group" ng-class="{'has-error': newClientForm.email.$invalid && newClientForm.email.$touched}">
                  <label class="col-sm-3 control-label new-client-control-label" for="textinput">e-mail</label>
                  <div class="col-sm-9">
                    <input type="email" name="email" placeholder="Correo electronico" class="form-control new-client-form-control" ng-model="newClient.email" required>
                    <span class="help-block new-client-help-block" 
                    ng-show="newClientForm.email.$error.required && newClientForm.email.$touched">Este campo es obligatorio</span>
                  </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-sm-3 control-label new-client-control-label" for="textinput">Tel&eacute;fono 1</label>
                  <div class="col-sm-9">
                    <input type="text" placeholder="Tel&eacute;fono de Linea" class="form-control new-client-form-control" ng-model="newClient.phone" ui-br-phone-number>
                  </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-sm-3 control-label new-client-control-label" for="textinput">Tel&eacute;fono 2</label>
                  <div class="col-sm-9">
                    <input type="text" placeholder="Tel&eacute;fono Movil" class="form-control new-client-form-control" ng-model="newClient.mobile" ui-br-phone-number>
                  </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-sm-3 control-label new-client-control-label" for="textinput">Direcci&oacute;n</label>
                  <div class="col-sm-9">
                    <input type="text" placeholder="Direcci&oacute;n" class="form-control new-client-form-control" ng-model="newClient.address">
                  </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-sm-3 control-label new-client-control-label" for="textinput">Localidad</label>
                  <div class="col-sm-9">
                    <input type="text" placeholder="Localidad" class="form-control new-client-form-control" ng-model="newClient.city">
                  </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-sm-3 control-label new-client-control-label" for="textinput">Provincia</label>
                  <div class="col-sm-9">
                    <input type="text" placeholder="Provincia" class="form-control new-client-form-control" ng-model="newClient.province">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 control-label new-client-control-label" for="textinput">C&oacute;digo Postal</label>
                  <div class="col-sm-9">
                    <input type="text" placeholder="C&oacute;digo Postal" class="form-control new-client-form-control" ng-model="newClient.postalCode">
                  </div>
                </div>


                <!-- Text input-->
                <div class="form-group">
                  <label class="col-sm-3 control-label new-client-control-label" for="textinput">Pa&iacute;s</label>
                  <div class="col-sm-9">
                    <input type="text" placeholder="Pa&iacute;s" class="form-control new-client-form-control" ng-model="newClient.country">
                  </div>
                </div>

              </div>

                <div class="row">
                  <div class="col-sm-6 col-sm-offset-4">
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10 new-client-buttons">
                        <div class="pull-right">
                          <button type="submit" ng-click="cancelModal()" class="btn btn-default">Cancelar</button>
                          <button type="submit" class="btn btn-danger" ng-disabled="newClientForm.$invalid" ng-click="saveClient()">Guardar </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

        </fieldset>
      </form>



    <ng-include src="'modals/cancelConfirmation.tpl.html'" ></ng-include>
    <ng-include src="'modals/saveSuccessModal.tpl.html'" ></ng-include>


    </div>
    </div><!-- /.col-lg-12 -->
</div><!-- /.row -->
</div>