<div ng-controller="expensesCtrl">

	<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-sm-10 new-expenditure-buttons">
						<div class="pull-left">
							<button type="button" ng-click="newExpenseModal()" class="btn btn-danger">Nuevo</button>
						</div>
					</div>
				</div>
			</div>
		<br/>
		<br/>
		<div class="col-md-12">	
			<table class="table table-condensed table-striped table-hover expenses-table">
				<thead>
					<tr>
						<th>Fecha</th>
						<th>Concepto</th>
						<th>Monto</th>
						<th class="cell-center	">Estado</th>
						<th class="cell-center">Editar</th>
						<th class="cell-center">Borrar</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="expense in expenses">
						<td>{{expense.date | date:'dd/MM/yyyy'}}</td>
						<td>{{expense.name}}</td>
						<td>${{expense.cost | number }}</td>
						<td class="cell-center"><label class="badge badge-success" ng-if="expense.paid">Pagado</label><label class="badge badge-important" ng-if="!expense.paid">Pendiente</label></td>
						<td class="cell-center"><p data-placement="top" data-toggle="tooltip" title="" data-original-title="Edit"><button class="btn btn-primary btn-xs" ng-click="editExpenseModal(expense)"><span class="fa fa-pencil"></span></button></p></td>
						<td class="cell-center"><p data-placement="top" data-toggle="tooltip" title="" data-original-title="Delete"><button class="btn btn-danger btn-xs" ng-click="deleteExpenseModal(expense)"><span class="fa fa-trash-o"></span></button></p></td>

					</tr>
				</tbody>
			</table>
			</br>
		</div>
	</div>
	<div class="row tiles">

		<div class="col-md-3">
			<span class="tiles-top">Total Gastos</span>
			<div class="count">${{totalExpenses() | number}}</div>
		</div>
		<div class="col-md-3 tiles-column">
			<span class="tiles-top">Total Pagado</span>
			<div class="count count-green">${{totalPaid() | number}}</div>
		</div>
		<div class="col-md-3 tiles-column">
			<span class="tiles-top">Total Pendiente</span>
			<div class="count count-red">${{totalPending() | number}}</div>
		</div>
		<div class="col-md-3 tiles-column">
			<span class="tiles-top">Margen de Ganancia</span>
			<div class="count">${{totalProfit() | number}}</div>
		</div>
	</br>
	</div>

		<ng-include src="'cars/carExpenses/newExpense.tpl.html'" ></ng-include>
		<ng-include src="'cars/carExpenses/editExpense.tpl.html'" ></ng-include>
		<ng-include src="'cars/carExpenses/deleteExpense.tpl.html'" ></ng-include>
		<ng-include src="'modals/saveSuccessModal.tpl.html'" ></ng-include>

</div>