<script type="text/ng-template" id="editExpenseModal.html">

	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">Editar Gasto</h4>	
		</div>
		<form name="editExpenseForm" role="form" novalidate>
			<div class="modal-body">
				<fieldset>
					<div class="form-group edit-expense-form-group" ng-class="{'has-error': editExpenseForm.name.$invalid && editExpenseForm.name.$touched}">
							  <label class="control-label" for="exampleInputEmail1">Concepto</label>
							  <input type="text" name="name" class="form-control" id="exampleInputEmail1" ng-model="editedExpense.name" required>
							  <span class="help-block" 
		         					ng-show="editExpenseForm.name.$error.required && editExpenseForm.name.$touched">El campo es requerido</span>
					</div>
					<div class="form-group edit-expense-form-group" ng-class="{'has-error': editExpenseForm.cost.$invalid && editExpenseForm.cost.$touched}">
						  <label class="control-label" for="exampleInputEmail1">Monto</label>
						  <input type="text" name="cost" class="form-control" id="exampleInputEmail1" ng-model="editedExpense.cost" required ui-number-mask="0">
						  <span class="help-block" 
	         					ng-show="editExpenseForm.cost.$error.required && editExpenseForm.cost.$touched">El campo es requerido</span>
					</div>
					<div class="form-group edit-expense-form-group">
						<div class="checkbox">
						    <label>
						      <input type="checkbox" ng-model="editedExpense.paid"> <strong>Pagado</strong>
						    </label>
						</div>	
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" type="button" ng-click="cancel()">Cancelar</button>
			            <button type="submit" class="btn btn-danger" ng-disabled="editExpenseForm.$invalid" ng-click="saveExpense()">Guardar</button>
			</div>
		</form>
	</div>
</script>


